{% extends 'base.html.twig' %}

{% block title %}FurLove | O Rasie{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('strain') }}

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('strain') }}
{% endblock %}

{% block body %}

    <div style="width: 100%; height: 50vh; min-height: 350px; background-image: url('{{ asset('./build/images/about.jpg') }}'); background-size: cover; background-position: center"></div>
    <div class="container strain">

        <h2 class="my-5"><b>Opis Rasy</b></h2>

        <p>Devony przekonują do siebie zagorzałych kocich przeciwników.  I jeśli nawet ich powierzchowność może spowodować krótkie zauroczenie, to prawdziwa miłość do tej rasy rozkwita i pozostaje na zawsze, właśnie dzięki bliższemu poznaniu i przebywaniu w ich otoczeniu.</p>
        <p>Devony rexy wyróżnia niezwykły wygląd, najbardziej charakterystyczne są wielkie uszy osadzone nisko na głowie. Głowa jest krótka, trójkątna, nos krótki i wypukłe policzki. Patrząc na kota, ma się wrażenie, że się uśmiecha. Jednak najpiękniejszym elementem pyszczka są oczy, kształtem przypominające migdały, szeroko rozstawione i w porównaniu z całą głową wydają się ogromne. Masa ciała tej rasy waha się od 2,5 do 4 kg, więc są to raczej małe kotki. Ich ciało jest smukłe i umięśnione. Długa szyja, szczupłe łapki, okrągłe stopy, wąski i długi ogon. To wszystko pokryte jest króciutkim, pofalowanym futerkiem, które jest mięciutkie jak puch i delikatne jak aksamit. Z racji krótkiej sierści koty dewońskie mogą być idealnymi towarzyszami osób z alergią.</p>
        <p>Devony rexy to koty niezwykle inteligentne, ciekawe świata, uczuciowe, przymilne, towarzyskie, wierne i bardzo przywiązane do opiekunów. Niemal zawsze są chętne do zabawy oraz pieszczot. Rzadko wędrują własnymi drogami, najchętniej podążają ścieżkami właściciela. Nie ma wystarczająco nudnej czynności, która nie zafascynowałaby tego kota. Z równym zaangażowaniem będą asystować przy sprzątaniu, zmywaniu, kąpieli, gotowaniu, a także czytaniu czy pracy przy komputerze. Większą część swojego czasu spędzają one towarzysząc człowiekowi, są bardzo przyjacielskie i kontaktowe. Wołają, gdy chcą na ręce, domagają się pieszczot, walczą o uwagę, jeśli jesteśmy czymś zajęci.</p>
        <p>Rasa ta jako jedyna macha ogonem na znak radości, cierpliwy hodowca może nawet nauczyć swojego Devona aportowania niedużych  przedmiotów. Nadzwyczajnym  jednak zachowaniem tych kotów jest umiejętność patrzenia w oczy i utrzymywania kontaktu wzrokowego z człowiekiem. Wtedy trudno oprzeć się odczuciu, że dokładnie rozumie wszystko, co się do niego mówi. Kiedy do niego mówisz, zaczyna patrzeć prosto w oczy, pomiaukując w odpowiedzi.</p>
        <p>Dewony są to koty wesołe i aktywne, zawsze chętne do zabawy. Doskonale nadają się do domu, w którym są małe dzieci. Będą dla nich wspaniałym towarzyszem zabaw oraz cierpliwie znosić miłość malucha. Przez okazywaną miłość i przywiązanie do człowieka staną wspaniałym przyjacielem osób starszych. Bez problemu także dogadają się z psem lub innymi kotami zamieszkującymi już nasz dom.</p>
        <p>Kotów tej rasy nie trzeba polecać, każdy, kto spędzi z nimi trochę czasu, sam odkryje wszystkie ich zalety, a ich uśmiechnięty pyszczek zapadnie na zawsze w serce. Devon rex to rasa, która przekona każdego, kto nie wierzy w kocią miłość. W przeciwieństwie do innych ras koty dewońskie potrafią pokazywać swoje przywiązanie i miłość do człowieka.</p>
    </div>
{% endblock %}
