<div class="nav-bar row">
    <div id="ref-item" class="col-5 d-none d-lg-flex">
        <div class="col-4"><a href="/posts">Aktualności</a></div>
        <div class="col-4"><a href="/kittens">Kocięta</a></div>
        <div class="col-4"><a href="/cats">Nasze Koty</a></div>
    </div>
    <div class="col-8 offset-2 offset-lg-0 col-lg-2 mt-2"><a href="/"><img id="nav-logo" src="{{asset('build/images/logo_outline.png')}}" alt="Fur Love logo"></a></div>
    <div class="col-5 d-none d-lg-flex">
        <div class="col-4"><a href="/about">Hodowla</a></div>
        <div class="col-4"><a href="/strain">Opis Rasy</a></div>
        <div class="col-4"><a href="/contact">Kontakt</a></div>
    </div>
    <button class="hamburger hamburger--collapse d-lg-none col-2" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
</div>

<div id="mobile-menu">
    <div class="mobile-menu-background"></div>
    <div class="inner">
        <div><a class="my-4" href="/posts">Aktualnośći</a></div>
        <div><a class="my-4" href="/kittens">Kocięta</a></div>
        <div><a class="my-4" href="/cats">Nasze Koty</a></div>
        <div><a class="my-4" href="/">Home</a></div>
        <div><a class="my-4" href="/about">Hodowla</a></div>
        <div><a class="my-4" href="/strain">Opis Rasy</a></div>
        <div><a class="my-4" href="/contact">Kontakt</a></div>
    </div>
</div>