<div class="footer-bar">
    <div class="container">
        <div class="row" style="padding-top: 1rem; margin-bottom: 1rem;">
            <div class="footer-image col-md-2 my-3 my-md-0">
                <img class="footer-logo" src="{{asset('build/images/sign_in_logo.png')}}" alt="Fur Love logo">
            </div>
            <div class="footer-copyright col-md-3 my-3 my-md-0">
                <div>
                    <p>© {{ "now"|date("Y") }} FurLove All Rights Reserved</p>
                    <p>Projekt i wykonanie: Mateusz Jenek</p>
                </div>
            </div>
            <div class="footer-social col-md-3 my-3 my-md-0">
                <h5>Znajdziejsz nas też na:</h5>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-youtube"></i>
            </div>
            <div class="footer-cookies col-md-4 my-3 my-md-0">Ta witryna korzysta z plików cookies. Wykorzystujemy pliki cookie m.in. aby analizować ruch w naszej witrynie. Informacje o tym, jak korzystasz z naszej witryny, udostępniamy partnerom analitycznym. Partnerzy mogą połączyć te informacje z innymi danymi otrzymanymi od Ciebie lub uzyskanymi podczas korzystania z ich usług. Więcej informacji w <a href="/cookies">Polityce prywatności</a></div>
        </div>
    </div>


</div>