{% extends 'base.html.twig' %}

{% block title %}FurLove | Ciasteczka{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 1rem;">
        <img class="d-block w-75" style="margin-left: auto; margin-right: auto" src="{{asset('build/images/cookies.png')}}" alt="First slide">

        <h1 class="my-5">Dlaczego nasze kotki jedzą ciasteczka?</h1>
        <h5 style="text-align: justify;">
            <strong>Czym są pliki cookie?</strong><br>
        </h5>
        <p style="text-align: justify;">
            Pliki cookie (z&nbsp;ang. cookie – ciastko) to&nbsp;pliki tekstowe zapisywane podczas przeglądania stron internetowych przez&nbsp;przeglądarkę na&nbsp;urządzeniu końcowym (komputerze, laptopie, smartfonie) podłączonym do&nbsp;Internetu. Plik cookie umożliwia danej witrynie internetowej rozpoznanie m.in. przeglądarki odwiedzającego witrynę albo&nbsp;przechowywanie ustawień. Celem tych działań jest poprawa funkcjonowania naszych witryn&nbsp; poprzez np. dostosowanie sposobu wyświetlania strony.
        </p>
        <h5 style="text-align: justify;">
            <b>Z jakiego rodzaju plików cookie korzystają witryny internetowe?</b><br>
        </h5>
        <ul>
            <li>
                „cookie” sesyjne – są to&nbsp;tymczasowe informacje przechowywane w&nbsp;pamięci przeglądarki do&nbsp;momentu zakończenia sesji przeglądarki, czyli do&nbsp;momentu jej zamknięcia. Te cookie są obowiązkowe, aby niektóre aplikacje lub funkcjonalności działały poprawnie.
            </li>
        </ul>
        <ul>
            <li>
                „cookie” stałe – dzięki nim korzystanie z&nbsp;często odwiedzanych stron jest łatwiejsze (np.&nbsp;zapewniają optymalną nawigację, zapamiętują wybraną rozdzielczość, układ treści etc.). Te informacje pozostają pamięci przeglądarki przez&nbsp;dłuższy okres. Czas ten zależy od&nbsp;wyboru, którego można dokonać w&nbsp;ustawieniach przeglądarki. Ten rodzaj cookie zezwala na&nbsp;przekazywanie informacji na&nbsp;serwer za&nbsp;każdym razem, gdy&nbsp;odwiedzana jest dana strona.
            </li>
        </ul>
        <h5>
            <strong>Google Analytics</strong><br>
        </h5>
        <p style="text-align: justify;">
            Nasza witryna korzysta z Google Analytics – usługi analizy oglądalności stron internetowych udostępnianej przez Google Inc („Google”). Google Analytics wykorzystuje własne pliki „cookie”, do raportowania interakcji użytkowników na naszych witrynach. &nbsp;Informacje uzyskane przy użyciu tego narzędzia nie są udostępniane innym podmiotom i służą jedynie do celów statystycznych oraz polepszenia użyteczności witryn.
        </p>
        <h5>
            <strong>Jak kontrolować pliki cookie?</strong><br>
        </h5>
        <p style="text-align: justify;">
            Użytkownik może kontrolować i usuwać pliki cookie wybierając odpowiednie ustawienia w przeglądarce, jednak należy pamiętać, że w takim przypadku korzystanie z niektórych funkcji witryn może okazać się niemożliwe. Przeglądarki oferują możliwość blokowania i&nbsp;kasowania plików cookie. Więcej informacji na&nbsp;temat zarządzania plikami cookie w poszczególnych przeglądarkach można uzyskać, korzystając z&nbsp;poniższych łączy:
        </p>
        <ul>
            <li style="text-align: justify;">
                <a href="http://support.mozilla.org/pl/kb/ciasteczka?redirectlocale=pl-PL&amp;redirectslug=Cookies" target="_blank">Mozilla Firefox</a>,
            </li>
            <li style="text-align: justify;">
                <a href="http://support.google.com/chrome/bin/answer.py?hl=pl&amp;answer=95647" target="_blank">Google Chrome</a>,
            </li>
            <li style="text-align: justify;">
                <a href="https://support.microsoft.com/pl-pl/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">Internet Explorer</a>,
            </li>
            <li style="text-align: justify;">
                <a href="https://support.apple.com/kb/PH21411?viewlocale=pl_PL&amp;locale=pl_PL" target="_blank">Safari</a>.
            </li>
        </ul>
    </div>



{% endblock %}
