<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}FurLove | Panel Administracyjny{% endblock %}</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {{ encore_entry_link_tags('admin') }}
    {% block stylesheets %}{% endblock %}
</head>
<body style="margin: 0; font-family: 'Poppins', sans-serif;">

{% include 'admin/components/left_bar.html.twig' %}

<button class="hamburger hamburger--collapse d-md-none" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
</button>

<div class="base">
    <div class="container">
        <h2 class="mt-3 mb-5 my-md-5">{{ title }}</h2>
        {% block body %}{% endblock %}
    </div>
</div>

{{ encore_entry_script_tags('admin') }}
{% block javascripts %}{% endblock %}
</body>
</html>
