@import "~lightbox2/src/css/lightbox.css";
@import "~iframe-lightbox/css/iframe-lightbox.css";

$slick-arrow-color: #000;

@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";

.profile-img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;

  -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
}

.container {
  font-family: 'Poppins', sans-serif;
}