@import "~bootstrap/scss/bootstrap";

input {
    margin-bottom: 10px;
}

form {
    margin-top: 2rem;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 100%;
    max-width: 280px;
}