<div class="text-center testimonial-quote">
    <div class="quote-container">
        <blockquote>
            <p>Przebywanie z kotem pod jednym dachem nie jest ani nudne, ani trudne… Warto z nim dzielić życie.”</p>
        </blockquote>
        <cite>
            <span>Claire Bessant</span>
        </cite>
    </div>
</div>
